In [2]:
from jinja2 import Template
import json
import os  #os系统
import time
import pandas as pd
import numpy as np
import matplotlib as plt



`pd.read_csv("call1101-1112.csv", encoding="gbk")` 导入csv表格，格式是gbk

`df.dtypes`  看数据格式
 
`df["name"]=name2`     把name2的数列，加入表df的新列，列名name

`df.head()` `df.tail(3)`  看前几行后几行 括号里可以写到底几行

`df.head()`



pd.to_datetime()改为时间格式

`df=df3`只改索引，变了俩一起变

`df3 = df.copy`就不会互相影响了

&是且

|是或

np.nan + 1  返回是nan（空加任何等于空）

`pd.Timestamp("20130102") `#时间输入格式

In [4]:
df2 = pd.DataFrame(
    {
        "A": 1.0,
        "B": pd.Timestamp("20130102"),
        "C": pd.Series(1, index=list(range(4)), dtype="float32"),
        "D": np.array([3] * 4, dtype="int32"),
        "E": pd.Categorical(["test", "train", "test", "train"]),
        "F": "foo",
    }
)
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [12]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [13]:
df2.columns

Index(['A', 'B', 'C', 'D', 'E', 'F'], dtype='object')

In [18]:
np.random.randn(6, 4)

array([[ 1.13688651, -0.23089156,  0.26728471,  0.25557816],
       [ 0.14784641,  0.62085838, -0.64876803,  0.49819371],
       [-1.18836029,  0.63603509,  0.58334276,  0.84318861],
       [-0.39401294,  0.19455489, -0.25643026,  1.09217565],
       [-0.99784635, -0.1670278 ,  0.81399199,  0.80463648],
       [ 1.42538575,  0.57730847,  0.20718603, -1.07633409]])

In [20]:
pd.date_range("20130101", periods=6)

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [21]:
df.describe() #计数和均值
df.T  #横纵轴颠倒
df.sort_index(axis=1, ascending=False)   #按照index排序，axis是轴，=1代表横轴  ascending是升序的意思
df.sort_values(by="B")                    #按照某一列排序

NameError: name 'df' is not defined

In [30]:
df2.A   #等价于df2["A"]

0    1.0
1    1.0
2    1.0
3    1.0
Name: A, dtype: float64

In [47]:
df2.loc[0:3,"A"]  #df.loc筛选

0    1.0
1    1.0
2    1.0
3    1.0
Name: A, dtype: float64

In [ ]:
df2[df2["E"].isin(["two", "four"])]  #筛选出来了df2表e列是two或者four的数

In [ ]:
df.at[dates[0], "A"] = 0  #设置内容，也可以修改已有内容
df.iat[0, 1] = 0          #同上，用数字index而是直接找到矩阵位置。

In [ ]:
len.df   #df的行数
df2[df2 > 0] = -df2   #可以让df变成全复数

In [48]:
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [57]:
df1.dropna(how="any")  #To drop any rows that have missing data.(删除全部有nun的行)

NameError: name 'df1' is not defined

In [64]:
#df2.groupby("E") #一些操作的前置项，先按照某个项分类
df2.groupby("E").count()  #按照e分类并计数 count可以在表内用，

       A  B  C  D  F
E
test   2  2  2  2  2
train  2  2  2  2  2

缺失值参数说明：

axis:
axis=0: 删除包含缺失值的行
axis=1: 删除包含缺失值的列
how: 与axis配合使用
how=‘any’ :只要有缺失值出现，就删除该行货列
how=‘all’: 所有的值都缺失，才删除行或列
thresh： axis中至少有thresh个非缺失值，否则删除
比如 axis=0，thresh=10：标识如果该行中非缺失值的数量小于10，将删除改行
subset: list
在哪些列中查看是否有缺失值
inplace: 是否在原数据上操作。如果为真，返回None否则返回新的copy，去掉了缺失值
————————————————
`DataFrame.dropna(axis=0, how='any', thresh=None, subset=None, inplace=False)`

In [ ]:
pd.read_csv("InventTransMS04.csv", encoding="utf16")   #less会看到<FF><FE>就用utf16读

In [65]:
#range
range(0, 5)
for i in range(5):
    print(i)

0
1
2
3
4

In [66]:
for i in range(len([1,2])):  #array没有直接index的方法
    print(i)

0
1

In [ ]:
#type conversion
int(1.1)
str(1.1)

In [ ]:
pd.iloc[0:1] #左闭又开，等同于range
pd.loc[mw.物料编号 == 310200305]

In [ ]:
用.的是库函数lib、类与对象的方法method以及类与对象的属性property
用[]获取dic或者arr的内容，还有定义array，get，set; a = ["a","b"]; a[0]; a[0] = 1
()的是函数调用和改变优先级

In [ ]:
pd.concat(df) #叠加表（不止一行）

# merge

In [20]:
left = pd.DataFrame({"key": ["foo", "foo"], "lval": [1, 2]})
left

   key  lval
0  foo     1
1  foo     2

In [21]:
right = pd.DataFrame({"key": ["foo", "foo"], "rval": [4, 5]})
right

   key  rval
0  foo     4
1  foo     5

In [22]:
pd.merge(left, right, on="key")

   key  lval  rval
0  foo     1     4
1  foo     1     5
2  foo     2     4
3  foo     2     5

In [24]:
left = pd.DataFrame({"key": ["foo", "bar"], "lval": [1, 2]})
left

   key  lval
0  foo     1
1  bar     2

In [25]:
right = pd.DataFrame({"key": ["foo", "bar"], "rval": [4, 5]})

In [26]:
pd.merge(left, right, on="key")

   key  lval  rval
0  foo     1     4
1  bar     2     5

# Regular expressions/regex

os.(在python里面执行一次bash命令)
find.(bash)

In [90]:
import re

In [159]:
re.search(r"\.([^\.]+)$", "2021.1.2.doc")[1]# + * ？

'doc'

In [96]:
print("\\S")

\S

In [106]:
re.search(r"[0-9]", "aabc1")[0]
re.match()

'1'

In [89]:
print("a\nbacd\b\n\\c")  #\t = tab   #\b = backspace     escape

a
bacd
\c

In [74]:
print("a   b")

a   b

In [ ]:
pd.DataFrame(xxxx)  #改格式到df

In [ ]:
df2.to_excel("result.xlsx")  #转格式

In [162]:
acc=df2.concat(df2)

AttributeError: 'DataFrame' object has no attribute 'concat'

# pd.str.extract    match
s1.str.extract(r'(?P<letter>搜索内容1)(?P<digit>搜索内容1)')#按顺序搜索一个名字为s1的pd.str，输出一个df，letter是为输出的df列命名

In [4]:
s = pd.Series(['a1', 'b2', 'c3'])
s

0    a1
1    b2
2    c3
dtype: object

In [11]:
s.str.extract(r'(?P<letter>[ab])(?P<digit>\d)')

  letter digit
0      a     1
1      b     2
2    NaN   NaN

In [7]:
s.str.extract(r'[ab](\d)')

     0
0    1
1    2
2  NaN

In [8]:
s.str.extract(r'[ab](\d)', expand=True)

     0
0    1
1    2
2  NaN

In [13]:
s.str.extract(r'[ab](\d)', expand=False)

0      1
1      2
2    NaN
dtype: object

In [14]:
s.str.match(r'[ab](\d)', case=True, flags=0, na=None)

0     True
1     True
2    False
dtype: bool

# format f""的用法

In [17]:
aff = ""
for z in range(0,7):
    aff += f"data/resumeList.{z}"
aff

'data/resumeList.0data/resumeList.1data/resumeList.2data/resumeList.3data/resumeList.4data/resumeList.5data/resumeList.6'

In [15]:
for z in range(0,7):
    aff = f"data/resumeList{z}.{z}"
    print(aff)

data/resumeList0.0
data/resumeList1.1
data/resumeList2.2
data/resumeList3.3
data/resumeList4.4
data/resumeList5.5
data/resumeList6.6

In [16]:
for z in range(0,7):
    aff = "data/resumeList{z}.{z}"
    print(aff)
#aee += "data/resumeList.json"

data/resumeList{z}.{z}
data/resumeList{z}.{z}
data/resumeList{z}.{z}
data/resumeList{z}.{z}
data/resumeList{z}.{z}
data/resumeList{z}.{z}
data/resumeList{z}.{z}

In [18]:
a="1"
f"a{a+'1'}"

'a11'

# loc

In [ ]:
pd1.loc[pd1.xxx.isin(pd2.xxx2)]   #xxx xxx2都是列名

# reshape

In [43]:
aaa=[1,1,2,5,7,6.3,7.1,3,4,7.0,9,10]  #把一个array重新组合用,先行后列，写-1意味着以另一项为标准直接计算，只有nparray可以这样做
acc=np.array(aaa)
abb=acc.reshape(-1,1)
add=acc.reshape(4,3)
print(abb)
print(add)

[[ 1. ]
 [ 1. ]
 [ 2. ]
 [ 5. ]
 [ 7. ]
 [ 6.3]
 [ 7.1]
 [ 3. ]
 [ 4. ]
 [ 7. ]
 [ 9. ]
 [10. ]]
[[ 1.   1.   2. ]
 [ 5.   7.   6.3]
 [ 7.1  3.   4. ]
 [ 7.   9.  10. ]]