In [3]:
from jinja2 import Template
import json
import os  #os系统
import time
import pandas as pd
import numpy as np



`pd.read_csv("call1101-1112.csv", encoding="gbk")` 导入csv表格，格式是gbk

`df.dtypes`  看数据格式
 
`df["name"]=name2`     把name2的数列，加入表df的新列，列名name

`df.head()` `df.tail(3)`  看前几行后几行 括号里可以写到底几行

`df.head()`



pd.to_datetime()改为时间格式

`df=df3`只改索引，变了俩一起变

`df3 = df.copy`就不会互相影响了

&是且

|是或

np.nan + 1  返回是nan（空加任何等于空）

`pd.Timestamp("20130102") `#时间输入格式

In [4]:
df2 = pd.DataFrame(
    {
        "A": 1.0,
        "B": pd.Timestamp("20130102"),
        "C": pd.Series(1, index=list(range(4)), dtype="float32"),
        "D": np.array([3] * 4, dtype="int32"),
        "E": pd.Categorical(["test", "train", "test", "train"]),
        "F": "foo",
    }
)
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [12]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [13]:
df2.columns

Index(['A', 'B', 'C', 'D', 'E', 'F'], dtype='object')

In [18]:
np.random.randn(6, 4)

array([[ 1.13688651, -0.23089156,  0.26728471,  0.25557816],
       [ 0.14784641,  0.62085838, -0.64876803,  0.49819371],
       [-1.18836029,  0.63603509,  0.58334276,  0.84318861],
       [-0.39401294,  0.19455489, -0.25643026,  1.09217565],
       [-0.99784635, -0.1670278 ,  0.81399199,  0.80463648],
       [ 1.42538575,  0.57730847,  0.20718603, -1.07633409]])

In [20]:
pd.date_range("20130101", periods=6)

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [21]:
df.describe() #计数和均值
df.T  #横纵轴颠倒
df.sort_index(axis=1, ascending=False)   #按照index排序，axis是轴，=1代表横轴  ascending是升序的意思
df.sort_values(by="B")                    #按照某一列排序

NameError: name 'df' is not defined

In [30]:
df2.A   #等价于df2["A"]

0    1.0
1    1.0
2    1.0
3    1.0
Name: A, dtype: float64

In [47]:
df2.loc[0:3,"A"]  #df.loc筛选

0    1.0
1    1.0
2    1.0
3    1.0
Name: A, dtype: float64

In [ ]:
df2[df2["E"].isin(["two", "four"])]  #筛选出来了df2表e列是two或者four的数

In [ ]:
df.at[dates[0], "A"] = 0  #设置内容，也可以修改已有内容
df.iat[0, 1] = 0          #同上，用数字index而是直接找到矩阵位置。

In [ ]:
len.df   #df的行数
df2[df2 > 0] = -df2   #可以让df变成全复数

In [48]:
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [ ]:
df1.dropna(how="any")  #To drop any rows that have missing data.(删除全部有nun的行)