# pandas
## DataFrame
ifconfig ipconfig  看ip的(mysql配置的时候用得到）

create table () #mypython创建一个数据库的方式，表格是放在数据库下面的

from sqlite3 import connect 

import sqlite3

conn = sqlite3.connect('filename.sqlite')      #python用都需要提前引入

import pymysql

from sqlalchemy import create_engine

conn = create_engine("mysql+pymysql://root:root@192.168.0.109/cyx")   #连服务器上的mysql

建库：CREATE TABLE table1

丢库：DROP TABLE table1

增:INSERT INTO table1 VALUES(519, 'china', 'shanghai', 'shanghai', 0.000000);

删：DELETE FROM table1 WHERE table1.index = 519;

删一个：DELETE FROM table1 WHERE table1.index = 519 LIMIT 1; #是只删掉一行的意思，sqllite没有这个功能

改：UPDATE

查：SELECT City, Region FROM table1 WHERE `index` = 519;

In [66]:
dictionary = {
    "key": "value",
    "attr": "int",#attribute
    "prop": "decimal",#property
}

In [68]:
dictionary["key"]

'value'

In [ ]:
import pymysql   
from sqlalchemy import create_engine
conn = create_engine("mysql+pymysql://root:root@192.168.0.109:3306/cyx")   #connect mysql server,port of mysql is 3306

In [71]:
from sqlite3 import connect 

import sqlite3
conn = sqlite3.connect('filename.sqlite')

In [7]:
import pandas as pd
#conn = connect('filename.sqlite')  #connect database, if not exist create new one,sqlite不是后缀名
df = pd.read_csv("cities_internet_prices.19-10-2021.csv")
df.to_sql('table1', conn) #store into database as table1

In [16]:
pd.read_sql('DESCRIBE table1;',conn)

           Field    Type Null  Key Default Extra
0          index  bigint  YES  MUL    None
1           City    text  YES         None
2         Region    text  YES         None
3        Country    text  YES         None
4  InternetPrice  double  YES         None

In [35]:
pd.read_sql("SELECT City, Region FROM table1 WHERE `index` = 519;",conn)

    City    Region
0  china  shanghai
1  china  shanghai

In [32]:

conn.execute("INSERT INTO table1 VALUES(519, 'china', 'shanghai', 'shanghai', 0.000000);")

In [12]:
cur = conn.cursor() #find cursor
cur.execute("INSERT INTO table1 VALUES(519, 'china', 'shanghai', 'shanghai', 0.000000);")
conn.commit()#提交指令

AttributeError: 'Engine' object has no attribute 'cursor'

In [59]:
cur = conn.cursor()
cur.execute("DROP TABLE table1")
conn.commit()

In [28]:
conn.execute("DELETE FROM table1 WHERE table1.index = 519")

In [98]:
pd.read_sql("SELECT city, Region FROM table1 WHERE table1.'index' = 519;",conn)

Empty DataFrame
Columns: [City, Region]
Index: []

In [34]:

conn.execute("DELETE FROM table1 WHERE table1.index = 519 LIMIT 1;")

In [13]:

conn.execute("DELETE FROM table1 WHERE * in (SELECT * FROM table1 WHERE 'index' = 519 LIMIT 1);")

ProgrammingError: (pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '* in (SELECT * FROM table1 WHERE 'index' = 519 LIMIT 1)' at line 1")
[SQL: DELETE FROM table1 WHERE * in (SELECT * FROM table1 WHERE 'index' = 519 LIMIT 1);]
(Background on this error at: http://sqlalche.me/e/14/f405)

In [1]:
import mysql.connector

conn = mysql.connector.connect(user='root', password='root',
                              host='192.168.0.109',
                              database='cyx')
#conn.close()

In [5]:
# !pip install PyMySQL #安装一个driver（驱动）

Collecting PyMySQL
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
     |████████████████████████████████| 43 kB 182 kB/s eta 0:00:01
Installing collected packages: PyMySQL
Successfully installed PyMySQL-1.0.2

In [38]:
pd.read_sql("SELECT AVG(InternetPrice), Country FROM table1 GROUP BY Country ORDER BY AVG(InternetPrice) DESC;",conn)

     AVG(InternetPrice)               Country
0            111.427533                Brunei
1            109.223301              Maldives
2            104.833333              Zimbabwe
3            100.363312  United Arab Emirates
4             84.918710                 Qatar
..                  ...                   ...
105            9.112500             Venezuela
106            8.834033               Romania
107            6.811715                Russia
108            5.009594               Ukraine
109            0.000000              shanghai

[110 rows x 2 columns]

# 姓名、成绩、课程是列名 学生表是表名
select 姓名
from 学生表
group by 姓名
having count(姓名) > 1;

avg(列名)           #sql的mean

avg(distinct 列名)     #distinct 是sql的unique


# 查第n（n=2）名的行 

select distinct 成绩  

from 成绩表

where 课程='语文'

order by 课程,成绩 desc    #desc是倒叙

limit 1,1;             #limit x,y    limit y offset x 分句表示查询结果跳过 x 条数据，读取前 y 条数据



# ifnull的应用
ifnull(a,b)            #函数解释如果 value1 不是空，结果返回 a    如果 value1 是空，结果返回 b
select ifnull(
(select max(distinct 成绩) from 成绩表
where 成绩<(select max(成绩) from 成绩表 where 课程='语文')
and 课程='语文')
,null) as '语文课第二名成绩';   


# 多表连接，表名a b
select a.学号,a.姓名,b.课程,b.成绩  
from 学生 as a
left join 成绩 as b
on a.学号=b.学号;

select a.姓名 as 不近视的学生名单
from 学生表 as a
left join 近视学生表 as b
on a.学号=b.学生学号
where b.序号 is null;    #查在某表不存在的人

# sql的命名是只在一句话内生效的

# 时间函数

datediff(日期 1, 日期 2)：
得到的结果是日期 1 与日期 2 相差的天数。
如果日期 1 比日期 2 大，结果为正；如果日期 1 比日期 2 小，结果为负。

timestampdiff(时间类型, 日期 1, 日期 2)，timestampdiff(时间类型, 日期 1, 日期 2)
这个函数和上面 diffdate 的正、负号规则刚好相反。
日期 1 大于日期 2，结果为负，日期 1 小于日期 2，结果为正。

year(入学时间)=2017  #year是函数，入学时间是列名，可以筛选时间列里面只判断年份


# 占比 筛选条件的统计数量
select sum(
case when <判断表达式> then 1
       else 0
end
) as 数量
from 信息表；


# case when 语法  b、c都是列名
select A,
-- 第2步，在行列互换结果表中，其他列里的值分别使用case和max来获取
max(case B when 'm' then C else 0 end) as 'm',
max(case B when 'n' then C else 0 end) as 'n'
from cook
-- 第1步，在行列互换结果表中按第1列分组
group by A;

# 去重 自连接

select distinct a.成绩 as 最终答案
from score as a,
   score as b,
   score as c;
 where a.学号 = b.学号 - 1
   and b.学号 = c.学号 - 1
   and a.成绩 = b.成绩
   and b.成绩 = c.成绩;
   
   
# 计数

select *,count(distinct when 时间间隔=1 then 用户id
     else null
     end) as  次日留存数
 from
(select *,timestampdiff(day,a.登陆时间,b.登陆时间) as 时间间隔
from c);


# 排序 按倒叙排序
select *, row_number() over(order by 排名的列 desc) as 排名from 表名;


# where 筛选
select * 
from a
where 排名 <= (select max(排名) from a)*百分之N;

# partition by(rank)
select 姓名,最后登录时间,
       row_number() over (partition by 姓名
                          order by  最后登录时间 asc) as 登录时间排名
from  用户登录表 

# select 姓名,最后登录时间
       dense_rank() over (partition by 姓名
                          order by 最后登录时间 asc) as 登录天数排名
from  用户登录表 ;

In [ ]:
top 5

SELECT TOP(5) ORDERID, CUSTOMERID, OrderDate    
FROM Orders where EmployeeID=5    
Order By OrderDate DESC