# pandas
## DataFrame
ifconfig ipconfig  看ip的(mysql配置的时候用得到）

create table () #mypython创建一个数据库的方式，表格是放在数据库下面的

from sqlite3 import connect 

import sqlite3

conn = sqlite3.connect('filename.sqlite')      #python用都需要提前引入

import pymysql

from sqlalchemy import create_engine

conn = create_engine("mysql+pymysql://root:root@192.168.0.109/cyx")   #连服务器上的mysql

建库：CREATE TABLE table1

丢库：DROP TABLE table1

增:INSERT INTO table1 VALUES(519, 'china', 'shanghai', 'shanghai', 0.000000);

删：DELETE FROM table1 WHERE table1.index = 519;

删一个：DELETE FROM table1 WHERE table1.index = 519 LIMIT 1;

改：UPDATE

查：SELECT City, Region FROM table1 WHERE `index` = 519;

In [66]:
dictionary = {
    "key": "value",
    "attr": "int",#attribute
    "prop": "decimal",#property
}

In [68]:
dictionary["key"]

'value'

In [ ]:
import pymysql   
from sqlalchemy import create_engine
conn = create_engine("mysql+pymysql://root:root@192.168.0.109:3306/cyx")   #connect mysql server,port of mysql is 3306

In [71]:
from sqlite3 import connect 

import sqlite3
conn = sqlite3.connect('filename.sqlite')

In [7]:
import pandas as pd
#conn = connect('filename.sqlite')  #connect database, if not exist create new one,sqlite不是后缀名
df = pd.read_csv("cities_internet_prices.19-10-2021.csv")
df.to_sql('table1', conn) #store into database as table1

In [16]:
pd.read_sql('DESCRIBE table1;',conn)

           Field    Type Null  Key Default Extra
0          index  bigint  YES  MUL    None
1           City    text  YES         None
2         Region    text  YES         None
3        Country    text  YES         None
4  InternetPrice  double  YES         None

In [35]:
pd.read_sql("SELECT City, Region FROM table1 WHERE `index` = 519;",conn)

    City    Region
0  china  shanghai
1  china  shanghai

In [32]:

conn.execute("INSERT INTO table1 VALUES(519, 'china', 'shanghai', 'shanghai', 0.000000);")

In [12]:
cur = conn.cursor() #find cursor
cur.execute("INSERT INTO table1 VALUES(519, 'china', 'shanghai', 'shanghai', 0.000000);")
conn.commit()#提交指令

AttributeError: 'Engine' object has no attribute 'cursor'

In [59]:
cur = conn.cursor()
cur.execute("DROP TABLE table1")
conn.commit()

In [28]:
conn.execute("DELETE FROM table1 WHERE table1.index = 519")

In [98]:
pd.read_sql("SELECT city, Region FROM table1 WHERE table1.'index' = 519;",conn)

Empty DataFrame
Columns: [City, Region]
Index: []

In [34]:

conn.execute("DELETE FROM table1 WHERE table1.index = 519 LIMIT 1;")

In [13]:

conn.execute("DELETE FROM table1 WHERE * in (SELECT * FROM table1 WHERE 'index' = 519 LIMIT 1);")

ProgrammingError: (pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '* in (SELECT * FROM table1 WHERE 'index' = 519 LIMIT 1)' at line 1")
[SQL: DELETE FROM table1 WHERE * in (SELECT * FROM table1 WHERE 'index' = 519 LIMIT 1);]
(Background on this error at: http://sqlalche.me/e/14/f405)

In [1]:
import mysql.connector

conn = mysql.connector.connect(user='root', password='root',
                              host='192.168.0.109',
                              database='cyx')
#conn.close()

In [5]:
# !pip install PyMySQL 安装一个driver（驱动）

Collecting PyMySQL
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
     |████████████████████████████████| 43 kB 182 kB/s eta 0:00:01
Installing collected packages: PyMySQL
Successfully installed PyMySQL-1.0.2

In [38]:
pd.read_sql("SELECT AVG(InternetPrice), Country FROM table1 GROUP BY Country ORDER BY AVG(InternetPrice) DESC;",conn)

     AVG(InternetPrice)               Country
0            111.427533                Brunei
1            109.223301              Maldives
2            104.833333              Zimbabwe
3            100.363312  United Arab Emirates
4             84.918710                 Qatar
..                  ...                   ...
105            9.112500             Venezuela
106            8.834033               Romania
107            6.811715                Russia
108            5.009594               Ukraine
109            0.000000              shanghai

[110 rows x 2 columns]